body {
    color: black;
    background-color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 20px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

header {
    text-align: center;
}

header img {
    width: 150px;
    height: 150px;
    border-radius: 60%;
}

#featured-products {
    text-align: center;
    margin: 20px;
}

.product {
    display: inline-block;
    margin: 10px;
}

.product img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

#store-info {
    text-align: center;
    margin: 20px;
}

#store-info h3 {
    margin-top: 20px;
    font-weight: bold;
    font-size: 24px;
    color: #000000;
}

ul {
    list-style-type:disc; /* Adiciona um marcador de ponto antes de cada item da lista */
    padding: 0;
}

ul li {
    margin-left: 5%; /* Espaço entre o marcador de ponto e o texto */
    font-size: 18px; 
    color: #333; 
}

